img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  padding: 0 0 0 20px;
  margin: .5em 0 1em;
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 20px 0 0;
}
.is-hv h1 + ul,
.is-hv h1 + ol,
.is-hv h2 + ul,
.is-hv h2 + ol,
.is-hv h3 + ul,
.is-hv h3 + ol,
.is-hv h4 + ul,
.is-hv h4 + ol,
.is-hv h5 + ul,
.is-hv h5 + ol,
.is-hv h6 + ul,
.is-hv h6 + ol {
  border-top: 1px solid #e9ebec;
  margin-top: 0;
  padding-top: .5em;
}
.is-hv h1 + ul ~ .spacer,
.is-hv h1 + ol ~ .spacer,
.is-hv h2 + ul ~ .spacer,
.is-hv h2 + ol ~ .spacer,
.is-hv h3 + ul ~ .spacer,
.is-hv h3 + ol ~ .spacer,
.is-hv h4 + ul ~ .spacer,
.is-hv h4 + ol ~ .spacer,
.is-hv h5 + ul ~ .spacer,
.is-hv h5 + ol ~ .spacer,
.is-hv h6 + ul ~ .spacer,
.is-hv h6 + ol ~ .spacer {
  border-bottom: 1px solid #e9ebec;
}
li {
  margin: .5em 0;
  text-align: left;
}
[dir="rtl"] li {
  text-align: right;
}
.is-responsive ul,
.is-responsive ol,
.is-responsive li {
  position: relative;
}
td[style="padding:20px 20px"] {
  padding: 0 !important;
}
.bodytext,
.bodytextindent {
  padding: 0;
  margin: 1em 0;
  overflow: visible;
  position: relative;
}
[dir="rtl"] .bodytext:after,
[dir="rtl"] .bodytextindent:after {
  content: "\200E";
}
.bodytext:first-child,
.bodytextindent:first-child {
  margin-top: 0;
}
.bodytext:last-child,
.bodytextindent:last-child {
  margin-bottom: 0;
}
.ie7 .bodytext,
.ie7 .bodytextindent {
  position: static;
}
.bodytextindent,
.warningbodytextindent,
.attentionbodytextindent {
  margin: 1em 0 2em 20px;
}
[dir="rtl"] .bodytextindent,
[dir="rtl"] .warningbodytextindent,
[dir="rtl"] .attentionbodytextindent {
  margin: 1em 20px 2em 0;
}
.is-hv .bodytextindent,
.is-hv .warningbodytextindent,
.is-hv .attentionbodytextindent {
  padding: 0;
  border: none;
  margin: 1em 0 1em 20px;
}
[dir="rtl"] .is-hv .bodytextindent,
[dir="rtl"] .is-hv .warningbodytextindent,
[dir="rtl"] .is-hv .attentionbodytextindent {
  margin: 1em 20px 1em 0;
}
.attentionbody,
.warningbody,
.warningcontinue1,
.warningcontinue2,
.warningcontinue3,
.attentioncontinue1,
.attentioncontinue2,
.attentioncontinue3 {
  margin: 1em 0;
}
.attentionbody,
.attentionbodytextindent,
.warningbody,
.warningbodytextindent,
.warningcontinue1,
.warningcontinue2,
.warningcontinue3,
.attentioncontinue1,
.attentioncontinue2,
.attentioncontinue3 {
  padding: 12px 20px 16px;
  border: 1px solid;
}
.is-hv .attentionbody,
.is-hv .attentionbodytextindent,
.is-hv .warningbody,
.is-hv .warningbodytextindent,
.is-hv .warningcontinue1,
.is-hv .warningcontinue2,
.is-hv .warningcontinue3,
.is-hv .attentioncontinue1,
.is-hv .attentioncontinue2,
.is-hv .attentioncontinue3 {
  padding: 0;
  border: none;
}
.attentionbody,
.attentionbodytextindent,
.attentioncontinue1,
.attentioncontinue2,
.attentioncontinue3 {
  border-color: #dce2e5;
  background: #fff;
}
.is-hv .attentionbody,
.is-hv .attentionbodytextindent,
.is-hv .attentioncontinue1,
.is-hv .attentioncontinue2,
.is-hv .attentioncontinue3 {
  background: none;
}
.warningbody,
.warningbodytextindent,
.warningcontinue1,
.warningcontinue2,
.warningcontinue3 {
  border-color: #f9b7bc;
  background: #fcdddf;
}
.is-hv .warningbody,
.is-hv .warningbodytextindent,
.is-hv .warningcontinue1,
.is-hv .warningcontinue2,
.is-hv .warningcontinue3 {
  background: none;
}
.bt-home {
  display: none;
  padding: 4px;
  border: 1px solid #009982;
  font-size: 16px;
  line-height: 1.5;
  margin: 40px 0 0;
  text-align: center;
  background: none;
}
a.bt-home,
button.bt-home {
  text-decoration: none !important;
}
.bt-home:after {
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  margin: 0 0 -1px 8px;
  content: '';
  width: 7px;
  height: 14px;
  background-position: -200px -200px;
  vertical-align: baseline;
}
.ie7 .bt-home:after {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .bt-home:after {
    background-image: url("help_icons_x2.png");
  }
}
[dir="rtl"] .bt-home:after {
  margin: 0 8px -1px 0;
}
.bt-home.is-shown {
  display: block;
}
.is-hv .bt-home {
  display: none;
}
.tablename,
.picturename {
  color: #9ea8ad;
  font-style: normal;
  font-size: 13px;
  text-align: right;
}
[dir="rtl"] .tablename,
[dir="rtl"] .picturename {
  text-align: left;
}
.is-hv .tablename,
.is-hv .picturename {
  display: none;
}
.picture,
.picturename {
  text-align: center;
}
[dir="rtl"] .picture,
[dir="rtl"] .picturename {
  text-align: center;
}
.picture {
  margin: .5em 0;
}
.is-hv .picture {
  text-align: left;
}
[dir="rtl"].is-hv .picture {
  text-align: right;
}
.picturename {
  margin: .5em 0 1.5em;
}
.tablename {
  margin: 0 0 .25em;
}
.tableintopic {
  border: none !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  table-layout: fixed;
  word-wrap: break-word;
}
@media only screen and (max-width: 767px) {
  .is-responsive .tableintopic {
    width: -webkit-calc(100% + 40px);
    width: -moz-calc(100% + 40px);
    width: calc(100% + 40px);
    max-width: -webkit-calc(100% + 40px);
    max-width: -moz-calc(100% + 40px);
    max-width: calc(100% + 40px);
    margin: 0 -20px;
  }
}
.is-hv .tableintopic {
  font-size: .9rem;
  width: 100%;
}
.tableintopic th {
  background: none !important;
}
.is-hv .tableintopic th {
  background: #97a6b2 !important;
  color: #fff;
  font-weight: 700;
  padding-top: .5em !important;
  padding-bottom: .4em !important;
}
.is-hv .tableintopic td {
  border-bottom: 1px solid #e9ebec !important;
}
.is-hv .tableintopic tr:first-child td {
  border-top: 1px solid #e9ebec !important;
}
.is-hv .tableintopic[bgcolor] td,
.is-hv .tableintopic[bgcolor] tr:first-child td {
  border: 0 !important;
}
.tableintopic th,
.tableintopic td {
  padding: 8px 10px;
  border: none !important;
  width: auto !important;
}
@media only screen and (max-width: 767px) {
  .is-responsive .tableintopic th,
  .is-responsive .tableintopic td {
    padding: 8px 5px;
  }
}
.tableintopic th:first-child,
.tableintopic td:first-child {
  padding: 8px 10px 8px 20px;
}
[dir="rtl"] .tableintopic th:first-child,
[dir="rtl"] .tableintopic td:first-child {
  padding: 8px 20px 8px 10px;
}
@media only screen and (max-width: 767px) {
  .is-responsive .tableintopic th:first-child,
  .is-responsive .tableintopic td:first-child {
    padding: 8px 5px 8px 20px;
  }
  [dir="rtl"] .is-responsive .tableintopic th:first-child,
  [dir="rtl"] .is-responsive .tableintopic td:first-child {
    padding: 8px 20px 8px 5px;
  }
}
.tableintopic th:last-child,
.tableintopic td:last-child {
  padding: 8px 20px 8px 10px;
}
[dir="rtl"] .tableintopic th:last-child,
[dir="rtl"] .tableintopic td:last-child {
  padding: 8px 10px 8px 20px;
}
@media only screen and (max-width: 767px) {
  .is-responsive .tableintopic th:last-child,
  .is-responsive .tableintopic td:last-child {
    padding: 8px 20px 8px 5px;
  }
  [dir="rtl"] .is-responsive .tableintopic th:last-child,
  [dir="rtl"] .is-responsive .tableintopic td:last-child {
    padding: 8px 5px 8px 20px;
  }
}
.is-hv .tableintopic th,
.is-hv .tableintopic td {
  padding: .5rem;
}
.tableintopic tr.is-even > td {
  background: #f1f5f7;
}
.is-hv .tableintopic tr.is-even > td {
  background: none;
}
.tableintopic tr.is-odd > td {
  background: #fff;
}
.is-hv .tableintopic tr.is-odd > td {
  background: none;
}
@media only screen and (max-width: 767px) {
  .is-responsive .tableintopic-wrapper {
    width: -webkit-calc( 100% + 40px);
    width: -moz-calc( 100% + 40px);
    width: calc( 100% + 40px);
    max-width: -webkit-calc( 100% + 40px);
    max-width: -moz-calc( 100% + 40px);
    max-width: calc( 100% + 40px);
    margin: 0 -webkit-calc( -20px );
    margin: 0 -moz-calc( -20px );
    margin: 0 calc( -20px );
  }
}
.relatedtopics {
  margin-top: 40px;
  width: 100%;
}
.relatedtopics td:last-child {
  padding: 0 0 0 20px;
}
[dir="rtl"] .relatedtopics td:last-child {
  padding: 0 20px 0 0;
}
.relatedtopics td:first-child {
  padding: 0 20px 0 0;
}
[dir="rtl"] .relatedtopics td:first-child {
  padding: 0 0 0 20px;
}
.expandingblock {
  z-index: 2;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  *border: 1px solid #d9d9d9;
  background: #f9f9f3;
  padding: 16px 20px;
  margin: .5em 0 1.5em;
}
.expandingblock ul,
.expandingblock ol {
  margin: .5em 0;
}
.expandingblock :first-child {
  margin-top: 0;
}
.expandingblock :last-child {
  margin-bottom: 0;
}
.is-hv .expandingblock {
  font-size: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0 1em;
}
.is-hv .expandingblock .procedureheading {
  padding-top: 0;
  border: none;
}
.is-hv .expandingblock .spacer {
  border: none;
}
.expandingblock-wrapper,
.expandingblock-wrapper.procedureheading {
  font-style: inherit;
  font-weight: inherit;
}
.ie7 .expandingblock-wrapper,
.ie7 .expandingblock-wrapper.procedureheading {
  font-style: normal;
  font-weight: normal;
}
.is-hv .expandingblock-wrapper {
  display: block;
  border: solid #e9ebec;
  border-width: 1px 0;
  margin-bottom: 1.5em;
}
.is-hv .expandingblock-wrapper + .expandingblock-wrapper,
.is-hv .spacer + .expandingblock-wrapper {
  margin-top: -1.5em;
  border-top: none !important;
}
.expandingblocktemplate {
  position: relative;
  font-weight: 600;
}
.expandingblocktemplate:after {
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  width: 12px;
  height: 13px;
  margin: 0 0 -1px 4px;
  background-position: -175px -200px;
  content: '';
}
.ie7 .expandingblocktemplate:after {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .expandingblocktemplate:after {
    background-image: url("help_icons_x2.png");
  }
}
[dir="rtl"] .expandingblocktemplate:after {
  margin: 0 4px -1px 0;
}
.ie7 .expandingblocktemplate {
  text-decoration: none;
  position: static;
  border-bottom: 1px dashed;
}
.expandingblocktemplate:hover {
  color: #009982;
}
.is-hv .expandingblocktemplate {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: inherit;
  padding: 0.75em 0 0.75em 20px;
}
[dir="rtl"] .is-hv .expandingblocktemplate {
  padding: 0.75em 20px 0.75em 0;
}
.is-hv .expandingblocktemplate:after {
  content: none;
}
.is-hv .expandingblocktemplate:before {
  content: '';
  position: absolute;
  left: 7px;
  right: auto;
  top: 1.1em;
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  width: 7px;
  height: 7px;
  background-position: -100px -400px;
  margin: 0 8px 0.1em 0;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s 0s ease-in-out;
     -moz-transition: -moz-transform 0.2s 0s ease-in-out;
       -o-transition: -o-transform 0.2s 0s ease-in-out;
          transition: transform 0.2s 0s ease-in-out;
}
[dir="rtl"] .is-hv .expandingblocktemplate:before {
  right: 7px;
}
[dir="rtl"] .is-hv .expandingblocktemplate:before {
  left: auto;
}
.ie7 .is-hv .expandingblocktemplate:before {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .is-hv .expandingblocktemplate:before {
    background-image: url("help_icons_x2.png");
  }
}
[dir="rtl"] .is-hv .expandingblocktemplate:before {
  margin: 0 0 0.1em 8px;
}
[dir="rtl"].is-hv .expandingblocktemplate:before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.is-hv .expandingblocktemplate.is-expanded:before {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
.is-hv .expandingblocktemplate:hover {
  color: #007aff;
  text-decoration: none;
}
.is-hv .expandingblocktemplate:hover:before {
  background-position: -75px -400px;
}
.expandingblockclose {
  border: none;
  background: none;
  position: absolute;
  top: 4px;
  cursor: pointer;
  margin: -8px;
  padding: 8px;
  right: 12px;
  left: auto;
}
.expandingblockclose:after {
  content: '';
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  width: 10px;
  height: 10px;
  background-position: 0 -200px;
}
.ie7 .expandingblockclose:after {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .expandingblockclose:after {
    background-image: url("help_icons_x2.png");
  }
}
[dir="rtl"] .expandingblockclose {
  left: 12px;
}
[dir="rtl"] .expandingblockclose {
  right: auto;
}
.expandingblockclose + * {
  margin-top: 0;
}
.showhideparagraph {
  text-align: right;
  color: #9ea8ad;
  font-size: 14px;
  word-spacing: 4px;
}
[dir="rtl"] .showhideparagraph {
  text-align: left;
}
.showhideparagraph a {
  word-spacing: normal;
}
.is-hv .showhideparagraph {
  display: none;
}
.hyperlinktemplate:after,
.namedhyperlinktemplate:after {
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  width: 9px;
  height: 9px;
  background-position: -100px -200px;
  margin: 0 4px 0 4px;
  content: '';
}
.ie7 .hyperlinktemplate:after,
.ie7 .namedhyperlinktemplate:after {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .hyperlinktemplate:after,
  .namedhyperlinktemplate:after {
    background-image: url("help_icons_x2.png");
  }
}
[dir="rtl"] .hyperlinktemplate:after,
[dir="rtl"] .namedhyperlinktemplate:after {
  margin: 0 4px 0 4px;
}
.is-hv .hyperlinktemplate:after,
.is-hv .namedhyperlinktemplate:after {
  content: none;
}
.link-wrapper {
  display: inline-block;
  position: relative;
}
.ie7 .link-wrapper {
  position: static;
}
a.popuponclicktemplate,
a.glossaryhtmllinktemplate,
a.popuponclickcontexthelptemplate {
  text-decoration: none !important;
  border-bottom: 1px dashed;
}
.is-hv a.popuponclicktemplate,
.is-hv a.glossaryhtmllinktemplate,
.is-hv a.popuponclickcontexthelptemplate {
  border-bottom: 1px dotted currentColor;
}
a.popuponclicktemplate:after,
a.glossaryhtmllinktemplate:after,
a.popuponclickcontexthelptemplate:after {
  content: '';
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  width: 12px;
  height: 13px;
  margin: 0 0 -1px 4px;
  background-position: -175px -200px;
}
.ie7 a.popuponclicktemplate:after,
.ie7 a.glossaryhtmllinktemplate:after,
.ie7 a.popuponclickcontexthelptemplate:after {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  a.popuponclicktemplate:after,
  a.glossaryhtmllinktemplate:after,
  a.popuponclickcontexthelptemplate:after {
    background-image: url("help_icons_x2.png");
  }
}
[dir="rtl"] a.popuponclicktemplate:after,
[dir="rtl"] a.glossaryhtmllinktemplate:after,
[dir="rtl"] a.popuponclickcontexthelptemplate:after {
  margin: 0 4px -1px 0;
}
.is-hv a.popuponclicktemplate:after,
.is-hv a.glossaryhtmllinktemplate:after,
.is-hv a.popuponclickcontexthelptemplate:after {
  content: none;
}
a.popuponclicktemplate,
a.glossaryhtmllinktemplate,
a.popuponclickcontexthelptemplate,
a.popuponclicktemplate:hover,
a.glossaryhtmllinktemplate:hover,
a.popuponclickcontexthelptemplate:hover,
a.popuponclicktemplate:active,
a.glossaryhtmllinktemplate:active,
a.popuponclickcontexthelptemplate:active,
a.popuponclicktemplate:focus,
a.glossaryhtmllinktemplate:focus,
a.popuponclickcontexthelptemplate:focus {
  color: #009982;
}
.is-hv a.popuponclicktemplate,
.is-hv a.glossaryhtmllinktemplate,
.is-hv a.popuponclickcontexthelptemplate,
.is-hv a.popuponclicktemplate:hover,
.is-hv a.glossaryhtmllinktemplate:hover,
.is-hv a.popuponclickcontexthelptemplate:hover,
.is-hv a.popuponclicktemplate:active,
.is-hv a.glossaryhtmllinktemplate:active,
.is-hv a.popuponclickcontexthelptemplate:active,
.is-hv a.popuponclicktemplate:focus,
.is-hv a.glossaryhtmllinktemplate:focus,
.is-hv a.popuponclickcontexthelptemplate:focus {
  color: #007aff;
}
a.popuponclicktemplate:hover,
a.glossaryhtmllinktemplate:hover,
a.popuponclickcontexthelptemplate:hover,
a.popuponclicktemplate:active,
a.glossaryhtmllinktemplate:active,
a.popuponclickcontexthelptemplate:active,
a.popuponclicktemplate:focus,
a.glossaryhtmllinktemplate:focus,
a.popuponclickcontexthelptemplate:focus {
  border-bottom-color: rgba(0, 153, 130, 0.5);
}
.is-hv a.popuponclicktemplate:hover,
.is-hv a.glossaryhtmllinktemplate:hover,
.is-hv a.popuponclickcontexthelptemplate:hover,
.is-hv a.popuponclicktemplate:active,
.is-hv a.glossaryhtmllinktemplate:active,
.is-hv a.popuponclickcontexthelptemplate:active,
.is-hv a.popuponclicktemplate:focus,
.is-hv a.glossaryhtmllinktemplate:focus,
.is-hv a.popuponclickcontexthelptemplate:focus {
  border-bottom: 1px solid currentColor;
}
.popuponclick,
.popuponhover {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 500px;
  z-index: 2;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: #f9f9f3;
  font-weight: normal;
  cursor: default;
  overflow: visible;
  padding: 16px 20px 16px 20px;
  margin: 16px 0 20px -244px;
}
[dir="rtl"] .popuponclick,
[dir="rtl"] .popuponhover {
  padding: 16px 20px 16px 20px;
}
[dir="rtl"] .popuponclick,
[dir="rtl"] .popuponhover {
  margin: 16px -244px 20px 0;
}
.popuponclick ul,
.popuponhover ul,
.popuponclick ol,
.popuponhover ol {
  font-size: .85em;
  margin: .5em 0;
}
.popuponclick :first-child,
.popuponhover :first-child {
  margin-top: 0;
}
.popuponclick :last-child,
.popuponhover :last-child {
  margin-bottom: 0;
}
.ie7 .popuponclick,
.ie7 .popuponhover {
  position: static;
  margin: 8px 0 8px;
  border: 1px solid #d9d9d9;
}
.popuponclick:after,
.popuponhover:after {
  background: #f9f9f3;
  content: '';
  position: absolute;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: -8px -8px;
  z-index: -2;
  -webkit-box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, 0.15);
}
.popuponclick a[href^="javascript:hidePopup"],
.popuponhover a[href^="javascript:hidePopup"] {
  float: right;
  display: inline-block;
  background: transparent url("help_icons_x1.png") no-repeat;
  -moz-background-size: 300px;
    -o-background-size: 300px;
       background-size: 300px;
  width: 10px;
  height: 10px;
  background-position: 0 -200px;
  position: relative;
  z-index: 1;
}
[dir="rtl"] .popuponclick a[href^="javascript:hidePopup"],
[dir="rtl"] .popuponhover a[href^="javascript:hidePopup"] {
  float: left;
}
.ie7 .popuponclick a[href^="javascript:hidePopup"],
.ie7 .popuponhover a[href^="javascript:hidePopup"] {
  *display: inline;
  zoom: 1;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .popuponclick a[href^="javascript:hidePopup"],
  .popuponhover a[href^="javascript:hidePopup"] {
    background-image: url("help_icons_x2.png");
  }
}
.popuponclick a[href^="javascript:hidePopup"] img,
.popuponhover a[href^="javascript:hidePopup"] img {
  display: none;
}
.popuponclick a[href^="javascript:hidePopup"] + *,
.popuponhover a[href^="javascript:hidePopup"] + * {
  margin-top: 0;
}
.popuponclick.is-to-top,
.popuponhover.is-to-top {
  top: auto;
  bottom: 100%;
  margin: 0 0 16px -244px;
}
[dir="rtl"] .popuponclick.is-to-top,
[dir="rtl"] .popuponhover.is-to-top {
  margin: 0 -244px 16px 0;
}
.popuponclick.is-to-top:after,
.popuponhover.is-to-top:after {
  top: 100%;
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.popuponhover {
  width: 640px;
  margin: 16px 0 0 -314px;
}
[dir="rtl"] .popuponhover {
  margin: 16px -314px 0 0;
}
.settingdescr,
.settingdescrlistcontinue1,
.settingdescrlistcontinue2 {
  margin: .5em 0;
}
ol {
  list-style-image: none;
}
.relatedheading {
  font-size: 20.8px;
  margin: .5em 0;
}
.is-hv .relatedheading {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 700;
}
.relateditem {
  margin: .5em 0;
}
.tableheading {
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.is-hv .tableheading {
  text-align: start;
}
.tablebodytext {
  margin: 0;
}
.examplebodytext {
  margin: .5em 0;
}
.buttonscharacter {
  position: relative;
  display: inline-block;
  font-weight: 600;
}
.ie7 .buttonscharacter {
  *display: inline;
  zoom: 1;
  position: static;
}
.program,
.program2,
.program3,
.program4,
.program5 {
  white-space: pre-wrap;
  word-wrap: initial;
  overflow: auto;
  font-family: Consolas, Courier New, monospace;
}
.program {
  margin: 0 0 0 0px;
}
[dir="rtl"] .program {
  margin: 0 0px 0 0;
}
.program2 {
  margin: 0 0 0 20px;
}
[dir="rtl"] .program2 {
  margin: 0 20px 0 0;
}
.program3 {
  margin: 0 0 0 40px;
}
[dir="rtl"] .program3 {
  margin: 0 40px 0 0;
}
.program4 {
  margin: 0 0 0 60px;
}
[dir="rtl"] .program4 {
  margin: 0 60px 0 0;
}
.program5 {
  margin: 0 0 0 80px;
}
[dir="rtl"] .program5 {
  margin: 0 80px 0 0;
}
.procedureheading {
  font-style: italic;
  margin: 1em 0 .5em;
}
.procedureheading:first-child {
  margin-top: 0;
}
.is-hv .procedureheading {
  font-style: normal;
  font-weight: 600;
  margin: 1.5em 0;
  padding-top: 1em;
  border-top: 1px solid #e9ebec;
}
.is-hv .procedureheading.expandingblock-wrapper {
  padding-top: 0;
  border-top: 1px solid #e9ebec;
}
.is-hv .procedureheading:first-child {
  margin-top: 0;
  word-break: normal;
  word-wrap: break-word;
}
.is-hv .spacer + .procedureheading {
  margin-top: 0;
}
.is-hv .procedureheading ~ .spacer {
  border-bottom: 1px solid #e9ebec;
  margin: 1.5em 0 -1px;
}
.emphasischaracter {
  font-style: italic;
}
.attentioncharacter,
.warningcharacter,
.boldcharacter,
.buttonunderline,
.keycharacter,
.guicharacter,
.macnote {
  font-weight: 600;
  position: relative;
}
.ie7 .attentioncharacter,
.ie7 .warningcharacter,
.ie7 .boldcharacter,
.ie7 .buttonunderline,
.ie7 .keycharacter,
.ie7 .guicharacter,
.ie7 .macnote {
  position: relative;
  zoom: 1;
}
.programcharacter {
  display: inline-block;
  font-family: Consolas, Courier New, monospace;
  padding: 0 4px;
}
.ie7 .programcharacter {
  *display: inline;
  zoom: 1;
}
.keycharacter {
  font-family: Consolas, Courier New, monospace;
  font-weight: 600;
}
.bodyspacer,
.spacer,
.spacerfortables {
  display: block;
  margin: 0;
  height: 0;
}
.introheading {
  font-weight: 600;
  margin: 2.5em 0 0;
}
/** Lists **/
.listheading {
  margin: 1.5em 0 0;
  position: relative;
  zoom: 1;
}
.listcontinue1,
.listcontinue2 {
  margin: .5em 0;
}
.settingname {
  font-weight: 600;
  margin: .5em 0;
}
.settingdescr,
.settingdescrlistcontinue1 {
  margin: .5em 0;
}
.ie7 .settingdescr,
.ie7 .settingdescrlistcontinue1 {
  position: relative;
  zoom: 1;
}
.listcontinue3 {
  margin: 0.5em 0 0.5em 1em;
}
[dir="rtl"] .listcontinue3 {
  margin: 0.5em 1em 0.5em 0;
}
ol.listnumber1 {
  list-style: decimal outside;
}
li.listnumber1,
li.settingdescrlistbullet1 {
  margin: .5em 0;
}
ul.listbullet1,
ul.listbullet2,
ul.listbullet3,
ul.listbullet4 {
  list-style: disc none outside;
  position: relative;
  zoom: 1;
}
ol.listalpha1,
ol.listalpha2,
ol.listalpha3 {
  list-style: lower-alpha outside;
}
ul.tablelistbullet,
ul.settingdescrlistbullet1 {
  list-style: disc outside none;
  margin: .5em 0;
}
.symbols {
  font-family: "Symbol", Helvetica, Arial, sans-serif;
}
.wingdingsymbols {
  font-family: 'Wingdings', Helvetica, Arial, sans-serif;
}
.stepheading {
  font-weight: 600;
  font-size: 17.6px;
  margin: 1em 0 .5em;
}
.heading1,
.heading2,
.heading3,
.heading4 {
  position: relative;
  margin: 1em 0;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  border-bottom: none;
}
.cont > .heading1:first-child,
.cont > .heading2:first-child,
.cont > .heading3:first-child,
.cont > .heading4:first-child {
  margin-top: .5em;
}
.is-hv .heading1,
.is-hv .heading2,
.is-hv .heading3,
.is-hv .heading4 {
  font: lighter 2.2rem HelveticaNeue-Light, Helvetica Neue Light, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  padding: 0 0 0 44px;
}
[dir="rtl"].is-hv .heading1,
[dir="rtl"].is-hv .heading2,
[dir="rtl"].is-hv .heading3,
[dir="rtl"].is-hv .heading4 {
  text-align: right;
}
[dir="rtl"].is-hv .heading1,
[dir="rtl"].is-hv .heading2,
[dir="rtl"].is-hv .heading3,
[dir="rtl"].is-hv .heading4 {
  padding: 0 44px 0 0;
}
.is-hv .heading1:first-child,
.is-hv .heading2:first-child,
.is-hv .heading3:first-child,
.is-hv .heading4:first-child {
  margin-top: 0;
}
.is-hv .heading1:before,
.is-hv .heading2:before,
.is-hv .heading3:before,
.is-hv .heading4:before {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  width: 32px;
  height: 32px;
  margin-top: 0;
  display: inline-block;
  background: transparent url(../../gfx/help.png) no-repeat;
  -moz-background-size: 32px;
    -o-background-size: 32px;
       background-size: 32px;
}
[dir="rtl"].is-hv .heading1:before,
[dir="rtl"].is-hv .heading2:before,
[dir="rtl"].is-hv .heading3:before,
[dir="rtl"].is-hv .heading4:before {
  right: 0;
}
[dir="rtl"].is-hv .heading1:before,
[dir="rtl"].is-hv .heading2:before,
[dir="rtl"].is-hv .heading3:before,
[dir="rtl"].is-hv .heading4:before {
  left: auto;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ), only screen and (    min--moz-device-pixel-ratio: 1.5 ), only screen and (      -o-min-device-pixel-ratio: 3/2 ), only screen and (         min-device-pixel-ratio: 1.5 ) {
  .is-hv .heading1:before,
  .is-hv .heading2:before,
  .is-hv .heading3:before,
  .is-hv .heading4:before {
    background-image: url(../../gfx/help@2x.png);
  }
}
@media only screen and (max-width: 767px) {
  .is-responsive .heading1,
  .is-responsive .heading2,
  .is-responsive .heading3,
  .is-responsive .heading4 {
    font-size: 16px;
    margin-top: 1rem;
  }
}
.heading5,
.heading6 {
  margin: 1.5em 0 .5em;
  font-weight: 600;
  font-size: 16px;
}
.heading5 + .bodytext,
.heading6 + .bodytext {
  margin-top: 0;
}
.indexheading {
  font-size: 19.2px;
  padding: 12px 0 4px;
}
.indexheading a {
  text-decoration: none;
  color: #9ea8ad;
}
.toc {
  margin: .5em 0;
}
.subscript {
  font-size: .85em;
  vertical-align: sub;
}
.superscript {
  font-size: .85em;
  vertical-align: super;
}
.underlinedcharacter {
  text-decoration: underline;
}
.hypertextcharacter {
  color: #009982;
  text-decoration: underline;
}
.is-hv .hypertextcharacter {
  color: #007aff;
  text-decoration: none;
}
.exampleheading {
  text-decoration: underline;
}
.examplebodytext {
  color: #6b777e;
}
.exampleheadingblue2015 {
  color: #87a6bd;
}
.examplebodytextblue2015 {
  color: #6b777e;
}
.mactitlepage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0;
}
.mactitleheading {
  text-align: center;
  font-size: 2.7rem;
  margin: .13em 0 .32em;
  font-weight: lighter;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}
.mactitlepicture {
  text-align: center;
  padding-top: .72em;
}
.top-anchor {
  position: absolute;
  top: -999px;
  visibility: hidden;
  z-index: -1;
}
